table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }


/* optional Container STYLES */
.chart1 { }
.Treant > .node {  }
.Treant > p { font-weight: bold; font-size: 14px; }
.node-name { font-weight: bold;}

.items {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    width: 173px;
    display: flex;
    cursor: default;
    background-color: #3F51B5;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}


.items img {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 8px;
    bottom: 2px;
    text-align: center;
}

.items p {
    display: inline-block;
    padding: 7px 16px;
    font-size: 12px;
    margin-top: 8px;
    color: #FFFFFF !important;
}


.items.hover-expand-effect:hover img {
    opacity: 0.2;
    -moz-transform: rotate(32deg) scale(1.4);
    -ms-transform: rotate(32deg) scale(1.4);
    -o-transform: rotate(32deg) scale(1.4);
    -webkit-transform: rotate(32deg) scale(1.4);
    transform: rotate(32deg) scale(1.4);
}

.items.hover-expand-effect:after {
    background-color: rgba(0, 0, 0, 0.08);
    content: ".";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    color: transparent;
    -moz-transition: all 0.95s;
    -o-transition: all 0.95s;
    -webkit-transition: all 0.95s;
    transition: all 0.95s; }

.items.hover-expand-effect:hover:after {
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

.items.hover-expand-effect:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    -moz-transition: all 0.95s;
    -o-transition: all 0.95s;
    -webkit-transition: all 0.95s;
    transition: all 0.95s;
}