.number-calendar{
    width: 58px;
    height: 45px;
    font-family: 'Source Sans Pro';
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 71%;
    letter-spacing: normal;
    text-align: justify;
    color: #ef7575;
}

.name-day-calendar{
    width: 55px;
    height: 24px;
    font-family: 'Source Sans Pro';
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.8px;
    text-align: justify;
    color: #333333;
}

.box-event-calendar{
    width: 98px;
    height: 95px;
    background: white;
    padding: 13px;
    display: inline;
}
.box-photo-TDM{
    width: 120px;
    height: 120px;
    background: white;
    display: inline;
    margin-left: -15px;
}

.star-TDM {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 95px;
    left: 40px;
}

.more-TDM{
    display: table;
    margin-top: 7px;
    width: 0;
    height: 80px;
    position: absolute;
    right: 170px;
    bottom: -50px;
}

.more-TDM a{
    color: #848484;
    font-weight: bold;
    font-style: normal;
    font-family: 'Source Sans Pro' !important;
    letter-spacing: normal;
    text-align: justify;
    text-transform: uppercase;
}

.divider {
    display: inline-block;
    margin-top: 7px;
    width: 0;
    height: 80px;
    border-left: solid 2px #d2d2d2;
}

.into-event{
    display: table;
    margin-top: 7px;
    width: 0;
    height: 80px;
    position: absolute;
    right: 35px;
    top: 5px;
}

.info-box-event{
    display: inline-block;
    vertical-align: top;
    padding: 13px;
}

.info-calendar-box{
    min-height: 95px !important;
}

.title-event{
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 13px;
}

.time-event{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    color: #d2d2d2;
}

.place-event{
    display: block;
}


.intro-event-btn{
    display: table-cell;
    vertical-align: middle;
    margin-left: -5px;
}

.btn-white-blue{
    background-color: #FFFFFF !important;
    border: solid 2px #0376bb !important;
    font-family: 'Source Sans Pro' !important;
    font-size: 11px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.5 !important;
    letter-spacing: normal !important;
    text-align: justify !important;
    color: #1f86c4 !important;
    text-transform: uppercase;
    padding: 5px 25px;
}

.btn-white-blue-download{
    background-color: #FFFFFF !important;
    border: solid 2px #0376bb !important;
    font-family: 'Source Sans Pro' !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    letter-spacing: normal !important;
    color: #1f86c4 !important;
    text-transform: uppercase;
}

.btn-white-grey{
    background-color: #9da4b0 !important;
    border: solid 2px #FFFFFF !important;
    font-family: 'Source Sans Pro' !important;
    font-size: 15px !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.5 !important;
    letter-spacing: normal !important;
    text-align: justify !important;
    color: #FFFFFF !important;
    text-transform: uppercase;
    padding: 5px 25px;
}

.box-z18{
    background: #ffffff !important;
    border-bottom: 1px solid #ececec !important;
    border-left: 1px solid #ececec !important;
    border-right:  1px solid #ececec !important;
    border-radius: 0 !important;
    font-family: 'Source Sans Pro' !important;
}

.box.zbox-blue-light {
    border-top-color: #40b5e7;
    font-family: 'Source Sans Pro' !important;
}

.box.box-solid.zbox-blue-light > .box-header {
    color: #fff;
    background: #40b5e7;
    background-color: #40b5e7;
    font-family: 'Source Sans Pro' !important;
}

.box.zbox-blue {
    border-top-color: #0076bd;
    font-family: 'Source Sans Pro' !important;
}

.box.box-solid.zbox-blue > .box-header {
    color: #fff;
    background: #0076bd;
    background-color: #0076bd;
    font-family: 'Source Sans Pro' !important;
}

.box.box-solid.zbox-blue > .box-footer {

    background: #f3f3f3;
    background-color: #f3f3f3;
}

.box.box-solid.zbox-blue > .box-footer > a{
    font-weight: bold;
    font-style: normal;
    font-family: 'Source Sans Pro' !important;
    color: #848484;
    letter-spacing: normal;
    text-align: justify;
    text-transform: uppercase;
}

.box.zbox-gray-dark {
    border-top-color: #606063;
    font-family: 'Source Sans Pro' !important;
}

.box.box-solid.zbox-gray-dark > .box-header {
    color: #fff;
    background: #606063;
    background-color: #606063;
    font-family: 'Source Sans Pro' !important;
}

.box.box-solid.zbox-gray-dark > .box-footer {

    background: #f3f3f3;
    background-color: #f3f3f3;
}

.box.box-solid.zbox-gray-dark > .box-footer > a{
    font-weight: bold;
    font-style: normal;
    font-family: 'Source Sans Pro' !important;
    color: #848484;
    letter-spacing: normal;
    text-align: justify;
    text-transform: uppercase;
}

.box.zbox-gray {
    border-top-color: #9da4b0;
    font-family: 'Source Sans Pro' !important;
}

.box.box-solid.zbox-gray > .box-header {
    color: #fff;
    background: #9da4b0;
    background-color: #606063;
    font-family: 'Source Sans Pro' !important;
}

.box.box-solid.zbox-gray > .box-footer {

    background: #f3f3f3;
    background-color: #f3f3f3;
}

.box.box-solid.zbox-gray > .box-footer > a{
    font-weight: bold;
    font-style: normal;
    font-family: 'Source Sans Pro' !important;
    color: #848484;
    letter-spacing: normal;
    text-align: justify;
    text-transform: uppercase;
}

.profile-user-img-TDM {
    border: 3px solid #40b5e7 !important;
}


.description-TDM {
    overflow: hidden;
    position: relative;
    line-height: normal;
    max-height: 4em;
    text-align: justify;
    font-family: 'Source Sans Pro' !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #424242;
    font-size: 14px;
    white-space: inherit !important;
}
.description-TDM:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    padding-left: 5px;
    padding-right: 5px;
}

.description-TDM:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1.1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

.gradientback{
    position:absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    height: 100px;
    background: -moz-linear-gradient(top,  rgba(137,255,241,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,255,241,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(137,255,241,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
}

.box-max-height {
    max-height: 600px;
    min-height: 120px;
    overflow: hidden;
}

.info-box-TDM {
    display: block;
    vertical-align: top;
    padding: 13px;
    width: 100%;
}

.progress-description-HB{
    border-bottom: 2px solid #d2d2d2 !important;
}

.bg-gray-z18 {
    color: #ffffff;
    background-color: #9da4b0 !important;
}

img.icon-achievement {
    width: 40px !important;
    height: 40px !important;
    position: absolute;
    top: 5px;
    left: 25px;
}

.div-icon-achievement{
    display: block;
    float: left;
    height: 70px !important;
    width: 70px !important;
    text-align: center;
    font-size: 45px;
    line-height: 70px !important;
    background: white !important;
}

.poll-answer-text{
    display: block;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.poll-answer-alternative{
    font-size: 17px;
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #ffffff;
}

#carousel-custom {
    margin: 20px auto;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}

#carousel-custom .carousel-outer .carousel-inner>.item>img {
    width: 100%;
}