#footer-form{
	padding-top: 80px;
}

.color-picker{
	padding: 5px 10px 5px 20px;
	cursor: pointer;
	margin-left: 3px;
	margin-right: 3px;
	border-radius: 3px;
}

.color-picker:hover{
	padding: 5px 10px 5px 20px;
	cursor: pointer;
	margin-left: 3px;
	margin-right: 3px;
	border-radius: 3px;
	border: 2px solid;
}

.color-picker-selected{
	padding: 5px 10px 5px 20px;
	cursor: pointer;
	margin-left: 3px;
	margin-right: 3px;
	border-radius: 3px;
	border: 2px solid;
}